body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #23272f; /* fondo más oscuro y elegante */
}

html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#loginDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
    color: #e5e5e5;
    background-color: #2d3142; /* gris azulado oscuro */
    border-radius: 16px;
    width: 40%;
    height: 40%;
    font-size: 200%;
}

#loginDiv #userName{
    margin: auto;
    min-height: 3vh;
    height: auto;
    text-align: center;
    border: 3px #3a3f4b solid;
    border-radius: 8px;
    width: 60%;
    font-size: 100%;
    font-weight: bold;
    color: #e5e5e5;
    background-color: #394150; /* gris azulado */
}

#loginDiv #userButton{
    font-size: 100%;
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 16px;
    border: 1px solid #444b5a;
    background-color: #3a4152;
    color: #f5c97a; /* dorado suave */
    transition: background-color 0.5s;
}

#loginDiv #userButton:hover{
    background-color: #49506a;
}

#feedbackText{
    height: 10%;
    width: 40%;
    text-align: center;
    margin: auto;
}

#feedbackResponse{
    color: #d7263d; /* rojo elegante */
    background-color: #23272f;
    font-size: 120%;
    opacity: 1;
    animation: temporal 8s ease-out forwards;
    border-radius: 10px;
  }
  
@keyframes temporal {
0% {
    opacity: 0;
}

5%{
    opacity: 1;
}

50%{
    opacity: 1;
}

100% {
    opacity: 0;
}
}